
img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle; }



.row {
  margin: 0 auto;

  width: 100%; }

.row::before, .row::after {
  content: ' ';
  display: table; }

.row::after {
  clear: both; }



.row {
    max-width: 100%;
    margin: 0 auto; }
.medium-row {
  margin: 0 auto;
  max-width: 40rem;
  width: 100%; }

.column, .columns {
  float: left;
  width: 100%; }

.column-right {
  float: right;
  width: 100%; }



.cl-3 {
  width: 25%; }

.cl-9 {
  width: 75%; }


.small-centered {
  float: none;
  margin-left: auto;
  margin-right: auto; }

/
