.p-static {
    line-height: 1.4em;
    font-family: $roboto-slab;
    color: $font-color;
    margin: 3vh 8vh;
}
#page-circle {
    margin-left: 8vh;
    margin-top: 3vh;
    height: 5vh;
    width: 5vh;
}