.menu {
  font-family: $roboto-slab;
  width: 80%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  padding: 0em;
  transform: translate(-100%);
  transition: all 0.5s;

  li {
    margin-bottom: 0.5em;
  }

  &.active {
    transform: translate(0%);
  }

  .menu-svg-big {
    width: 4vh;
    height: 6vh;
    margin: 0em 1em 0em 1em;
    vertical-align: middle;
  }

  .margin-bottom {
    margin-bottom: 3em;
  }

  .first-in-menu {
    background-color: #cceeff;
  }

  .logo-breath {
    background-color: #17a6ef;
    width: 100%;
  }
}